.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  padding: 1.6rem;
}

.menuLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  text-decoration: none;
  color: var(--text-over-primary);
  background:  var(--primary);
  transition: all 0.2s ease-in-out;
  padding: 1.6rem;
  border-radius: 0.8rem;
}

.menuLink:hover {
  filter: brightness(60%);
}

.menuLink svg{
  width: 3.2rem;
  height: 3.2rem;
}
